Flask>=0.10.1
pymodm
Flask-WTF>=0.14.2
Jinja2>=2.7.1
MarkupSafe>=0.18
# MySQL-python==1.2.3
WTForms>=2.1
Werkzeug>=0.9.4
gunicorn>=18.0
requests>=2.2.1
flask-pymongo
beautifulsoup4
markdown2
flask-babel>=0.11.2
marshmallow>=2.15
umongo>=0.15.0
easydict>=1.8
